.App{
  /* width: 100vw;
  height: 100vh; */
  min-height: 100vh;
  height: fit-content;
  background-image: url('./assets/backgroundImage.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.todayForecast{
  margin-top: 20px;
  padding: 5px;
  display: flex;
  height: 80px;
  width: 300px;
  overflow-x: scroll;
  background-color: rgb(42, 103, 209);
  border-radius: 10px;
}
.todayForecast::-webkit-scrollbar{
  height: 0px;
}

.todayForecast2{
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 5px;
  display: flex;
  height: 160px;
  width: 300px;
  overflow-x: scroll;
  background-color: rgb(42, 103, 209);
  border-radius: 10px;
}
.todayForecast2::-webkit-scrollbar{
  height: 0px;
}


.LongTermWeatherForecast{
  height: 400px;
  overflow-y: scroll;
  color: black;
}
.LongTermWeatherForecast::-webkit-scrollbar{
  height: 0px;
}
.DayComponent{
  background-color: rgb(90, 143, 190);
  margin: 20px;
  padding: 10px;
}